<?xml version="1.0"?>
<config>
    <modules>
        <LCB_Stores>
            <version>1.0.0</version>
        </LCB_Stores>
    </modules>
    <frontend>
        <routers>
            <stores>
                <use>standard</use>
                <args>
                    <module>LCB_Stores</module>
                    <frontName>stores</frontName>
                </args>
            </stores>
        </routers>
        <layout>
            <updates>
                <stores>
                    <file>lcb_stores.xml</file>
                </stores>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <stores>
                <class>LCB_Stores_Helper</class>
            </stores>
        </helpers>
        <blocks>
            <stores>
                <class>LCB_Stores_Block</class>
            </stores>
        </blocks>
        <models>
            <lcb_stores>
                <class>LCB_Stores_Model</class>
                <resourceModel>lcb_stores_mysql4</resourceModel>
            </lcb_stores>
            <lcb_stores_mysql4>
                <class>LCB_Stores_Model_Mysql4</class>
                <entities>		  
                    <stores>
                        <table>lcb_stores</table>
                    </stores>
                </entities>
            </lcb_stores_mysql4>
        </models>
        <resources>
            <lcb_stores_setup>
                <setup>
                    <module>LCB_Stores</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lcb_stores_setup>
            <lcb_stores_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lcb_stores_write>
            <lcb_stores_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lcb_stores_read>
        </resources>
    </global>
    <admin>
        <routers>
            <stores>
                <use>admin</use>
                <args>
                    <module>LCB_Stores</module>
                    <frontName>admin_stores</frontName>
                </args>
            </stores>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms>
                <children>
                    <stores module="stores">
                        <title>Stores</title>
                        <sort_order>100</sort_order>
                        <children>
                            <stores module="stores">
                                <title>Manage Stores</title>
                                <sort_order>0</sort_order>
                                <action>admin_stores/adminhtml_stores</action>
                            </stores>
                        </children>
                    </stores>
                </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <cms>
                            <children>
                                <stores translate="title" module="stores">
                                    <title>Stores</title>
                                    <sort_order>1000</sort_order>
                                    <children>
                                        <stores translate="title">
                                            <title>Manage Stores</title>
                                            <sort_order>0</sort_order>
                                        </stores>
                                    </children>
                                </stores>
                            </children>
                        </cms>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <stores>
                    <file>lcb_stores.xml</file>
                </stores>
            </updates>
        </layout>
    </adminhtml>
</config> 